{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/main-logo.png'%}" />
    <title>Chefmate | Privacy</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid container-sm">
                    <a class="navbar-brand" href="/">
                        <img class="w-100 h-100" src="{% static 'img/logo.png'%}" alt="...">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/terms">Terms and Conditions</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="/privacy">Privacy Policy</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="container-sm">

            <div>
                <h1 class="mt-4 mb-2"><strong>Privacy Policy</strong></h1>
                <p>This policy is effective as of 30 March 2021.</p>
                <p> Last updated: 30 March 2021 </p>

                <p> Your privacy is important to us. It is Corwood Labs, LLC's policy to
                    respect your privacy and comply with any applicable law and
                    regulation regarding any personal information we may collect about
                    you, including via our app, ChefMate, and its associated services.</p>

                <p> Personal information is any information about you which can be used
                    to identify you. This includes information about you as a person
                    (such as name, address, and date of birth), your devices, payment
                    details, and even information about how you use an app or online
                    service.
                </p>

                <p>
                    In the event our app contains links to third-party sites and
                    services, please be aware that those sites and services have their
                    own privacy policies. After following a link to any third-party
                    content, you should read their posted privacy policy information
                    about how they collect and use personal information. This Privacy
                    Policy does not apply to any of your activities after you leave our
                    app.
                </p>

                <h4> Information We Collect </h4>

                <p> Information we collect falls into one of two categories:
                    “voluntarily provided” information and “automatically collected”
                    information. “Voluntarily provided” information refers to any information you
                    knowingly and actively provide us when using our app and its
                    associated services.
                    “Automatically collected” information refers to any information
                    automatically sent by your device in the course of accessing our app
                    and its associated services.
                </p>


                <h4> Log Data </h4>

                <p>
                    When you access our servers via our app, we may automatically log
                    the standard data provided by your device. It may include your
                    device's Internet Protocol (IP) address, your device type and
                    version, your activity within the app, time and date, and other
                    details about your usage.
                    Additionally, when you encounter certain errors while using the app,
                    we automatically collect data about the error and the circumstances
                    surrounding its occurrence. This data may include technical details
                    about your device, what you were trying to do when the error
                    happened, and other technical information relating to the problem.
                    You may or may not receive notice of such errors, even in the moment
                    they occur, that they have occurred, or what the nature of the error
                    is.
                    Please be aware that while this information may not be personally
                    identifying by itself, it may be possible to combine it with other
                    data to personally identify individual persons.
                </p>
                <h4> Device Data </h4>
                Our app may access and collect data via your device's in-built
                tools, such as:
                <li> Your identity </li>
                <li> Location data </li>
                <li> Camera </li>
                <li> Microphone </li>
                <li> Accelerometer </li>
                <li> Calendar </li>
                <li> Contacts </li>
                <li> Phone/SMS </li>
                <li> Storage, photos and/or media </li>
                <li> Notifications </li>
                <li> Voice assistance </li>
                <li> Background data refresh </li>
                <li> Mobile data </li>
                <li>Device/app history </li>
                <li> Flashlight </li>
                <li> Bluetooth </li>
                <p> When you install the app or use your device’s tools within the app,
                    we request permission to access this information. The specific data
                    we collect can depend on the individual settings of your device and
                    the permissions you grant when you install and use the app.</p>
                <h4> Personal Information</h4>
                <p>
                    We may ask for personal information — for example, when you submit
                    content to us or when you contact us — which may include one or more
                    of the following:
                </p>
                <li> Name </li>
                <li> Email </li>
                <li> Social media profiles </li>
                <li> Date of birth </li>
                <li> Phone/mobile number </li>
                <li> Home/mailing address </li>
                <li> Sensitive Information </li>
                <p>
                    “Sensitive information” or “special categories of data” is a subset
                    of personal information that is given a higher level of protection.
                    Examples of sensitive information include information relating to
                    your racial or ethnic origin, political opinions, religion, trade
                    union or other professional associations or memberships,
                    philosophical beliefs, sexual orientation, sexual practices or sex
                    life, criminal records, health information, or biometric
                    information.
                </p>
                <p>
                    The types of sensitive information that we may collect about you
                    include:
                </p>

                <li>
                    Health information
                </li>

                <p> We will not collect sensitive information about you without first
                    obtaining your consent, and we will only use or disclose your
                    sensitive information as permitted, required, or authorized by law.
                </p>
                <li>
                    User-Generated Content
                </li>

                <p>

                    Please be aware that any content you submit for the purpose of
                    publication will be public after posting (and subsequent review or
                    vetting process). Once published, it may be accessible to third
                    parties not covered under this privacy policy.
                </p>
                <li> Legitimate Reasons for Processing Your Personal Information
                </li>
                <p>
                    We only collect and use your personal information when we have a
                    legitimate reason for doing so. In which instance, we only collect
                    personal information that is reasonably necessary to provide our
                    services to you.
                </p>
                <h4>
                    Collection and Use of Information
                </h4>
                We may collect personal information from you when you do any of the
                following on our website:
                <li>
                    Register for an account
                </li>
                <li> Enter any of our competitions, contests, sweepstakes, and surveys</li>
                <li> Sign up to receive updates from us via email or social media channels </li>
                <li> Use a mobile device or web browser to access our content</li>
                <li> Contact us via email, social media, or on any similar technologies</li>
                <li> When you mention us on social media </li>
                <p>
                    We may collect, hold, use, and disclose information for the
                    following purposes, and personal information will not be further
                    processed in a manner that is incompatible with these purposes:

                    to provide you with our app and platform's core features and
                    services
                    to enable you to customize or personalize your experience of our
                    website

                    to contact and communicate with you
                    for analytics, market research, and business development, including
                    to operate and improve our app, associated applications, and
                    associated social media platforms for advertising and marketing,
                    including to send you promotional information about our products and
                    services and information about third parties that we consider may be
                    of interest to you to consider your employment application
                    to enable you to access and use our app, associated platforms, and
                    associated social media channels
                    for internal record keeping and administrative purposes
                    to run competitions, sweepstakes, and/or offer additional benefits
                    to you
                    to comply with our legal obligations and resolve any disputes that
                    we may have
                    to attribute any content (e.g. posts and comments) you submit that
                    we publish on our website
                    for security and fraud prevention, and to ensure that our sites and
                    apps are safe, secure, and used in line with our terms of use
                    for technical assessment, including to operate and improve our app,
                    associated applications, and associated social media platforms

                </p>
                <p>

                    We may combine voluntarily provided and automatically collected
                    personal information with general information or research data we
                    receive from other trusted sources. For example, If you consent to
                    us accessing your social media profiles, we may combine information
                    sourced from those profiles with information received from you
                    directly to provide you with an enhanced experience of our app and
                    services.
                </p>
                <h4> Security of Your Personal Information</h4>

                <p>When we collect and process personal information, and while we
                    retain this information, we will protect it within commercially
                    acceptable means to prevent loss and theft, as well as unauthorized
                    access, disclosure, copying, use, or modification.
                </p>
                <p>
                    Although we will do our best to protect the personal information you
                    provide to us, we advise that no method of electronic transmission
                    or storage is 100% secure, and no one can guarantee absolute data
                    security.
                </p>
                <p>
                    You are responsible for selecting any password and its overall
                    security strength, ensuring the security of your own information
                    within the bounds of our services. For example, ensuring any
                    passwords associated with accessing your personal information and
                    accounts are secure and confidential.
                </p>

                <h4>How Long We Keep Your Personal Information</h4>
                <p> We keep your personal information only for as long as we need to.
                    This time period may depend on what we are using your information
                    for, in accordance with this privacy policy. For example, if you
                    have provided us with personal information as part of creating an
                    account with us, we may retain this information for the duration
                    your account exists on our system. If your personal information is
                    no longer required for this purpose, we will delete it or make it
                    anonymous by removing all details that identify you.</p>
                <p>
                    However, if necessary, we may retain your personal information for
                    our compliance with a legal, accounting, or reporting obligation or
                    for archiving purposes in the public interest, scientific, or
                    historical research purposes or statistical purposes.
                </p>
                <h4> Children’s Privacy</h4>
                <p>
                    We do not aim any of our products or services directly at children
                    under the age of 13, and we do not knowingly collect personal
                    information about children under 13.
                </p>

                <h4>
                    Disclosure of Personal Information to Third Parties
                </h4>

                <p>
                    We may disclose personal information to:
                    <br /> parent, subsidiary, or affiliate of our company
                    third-party service providers for the purpose of enabling them to
                    provide their services, including (without limitation) IT service
                    providers, data storage, hosting and server providers, ad networks,
                    analytics, error loggers, debt collectors, maintenance or
                    problem-solving providers, marketing or advertising providers,
                    professional advisors, and payment systems operators our employees,
                    contractors, and/or related entities our existing or potential
                    agents or business partners sponsors or promoters of any
                    competition, sweepstakes, or promotion we run credit reporting
                    agencies, courts, tribunals, and regulatory authorities, in the
                    event you fail to pay for goods or services we have provided to you
                    courts, tribunals, regulatory authorities, and law enforcement
                    officers, as required by law, in connection with any actual or
                    prospective legal proceedings, or in order to establish, exercise,
                    or defend our legal rights third parties, including agents or
                    sub-contractors, who assist us in providing information, products,
                    services, or direct marketing to you third parties to collect and
                    process data an entity that buys, or to which we transfer all or
                    substantially all of our assets and business
                </p>
                <h6> Third parties we currently use include:</h6>
                <li>Appsflyer </li>
                <li>Userexperior </li>
                <li> Amplitude</li>
                <li>Freshpaint</li>
                <li>Customer.io</li>
                <br />
                <h4>
                    Your Rights and Controlling Your Personal Information
                </h4>
                <p>
                    Your choice: By providing personal information to us, you understand
                    we will collect, hold, use, and disclose your personal information
                    in accordance with this privacy policy. You do not have to provide
                    personal information to us, however, if you do not, it may affect
                    your use of our app or the products and/or services offered on or
                    through it.
                </p>
                <p>
                    Information from third parties: If we receive personal information
                    about you from a third party, we will protect it as set out in this
                    privacy policy. If you are a third party providing personal
                    information about somebody else, you represent and warrant that you
                    have such person’s consent to provide the personal information to
                    us.
                </p>
                <h4> Contact Us</h4>
                <p>
                    For any questions or concerns regarding your privacy, you may
                    contact us using the following details:
                </p>
                ChefMate Privacy Support support@mychefmate.app
            </div>


        </div>

        <div class="back-to-top-wrapper">
            <a href="#top" class="back-to-top-link" aria-label="Scroll to Top"><img class="back-to-top-link"
                    src="{% static 'img/up.png'%}" alt="..."></a>
        </div>
        <div class="footer">
            <div class="container-sm d-flex align-items-center justify-content-between h-100">
                <img class="" src="{% static 'img/logo-footer.png'%}" alt="...">
                <ul class="bottom-nav d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none" href="/terms">Terms and Conditions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none"  href="/privacy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>