<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693372488326-d81rq1tpg8ruq019v4k78fieks5d6e1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693372488326-d81rq1tpg8ruq019v4k78fieks5d6e1s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>693372488326-gc8425mtnichesuoi0g9r36ek5han9tl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDI8f1YivlMG15uakfKpps6aSAq4p6w8Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>693372488326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crowdbotics.chefmateapp</string>
	<key>PROJECT_ID</key>
	<string>chefmate-1790a</string>
	<key>STORAGE_BUCKET</key>
	<string>chefmate-1790a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693372488326:ios:37d0c7ebf4c6be9f1f5f07</string>
</dict>
</plist>